/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
}

#contenido {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], textarea, select, input[type="file"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

textarea {
    resize: vertical;
}

.firma {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

small {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    color: #666;
}

#vistaPreviaFotos {
    margin-top: 10px;
}

#vistaPreviaFotos img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

